@import '~antd/dist/antd.dark.css';

.main {
  padding: 8px;
  min-width: 360px;
}

#header {
  height: 40px;
  line-height: 40px;
  border: 1px solid #262626;
  padding: 0 20px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.upload {
  text-align: center;
}

.delete-icon {
  text-align: center;
}
.file {
  box-sizing: content-box;
  border: 1px solid #262626;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
